<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/codemoneyofficial/css@main/style.css">
</head>
<body>
  {% include header.html %}
  <main>
      {% if page.comingsoon == true %}
        {% include comingsoon.html %}
      {% else %}
        {{ content }}
      {% endif %}
  </main>
  {% include footer.html %}
</body>
</html>
